## Experiment No. 7
## Title - Loops in Python
## Name - Parth Dahiwade
##PRN - 25070123177
## Branch - ENTC-A
## Batch -  A3
## Date - 06/02/2026

In [ ]:
#Print numbers from 1 to 5

i= 1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
# Print numbers from 1 to N

N = int(input("Enter a number N: "))
i = 1
while i <= N:
    print(i)
    i += 1

Enter a number N: 11
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# Factorial of a number
N=int(input("Enter a number N: "))
fact = 1
f is decremented

temp_N = N

while temp_N > 0:
    fact *= temp_N
    temp_N -= 1


print ("Factorial =",fact)

Enter a number N: 3
Factorial = 6

In [ ]:
# Fibonacci Series using while loop

n = int(input("Enter the number of terms: "))

a  = 0
b = 1
i = 1

while i  <= n:
    print(a, end = " ")

    c = a + b
    a = b
    b = c
    i += 1

Enter the number of terms: 7
0 1 1 2 3 5 8

In [ ]:
# Reverse a number

num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed number:", rev)

Enter a number: 1233445
Reversed number: 5443321
Enter a number: 123456
Reversed number: 654321

In [ ]:
# Check Palindrome number/string


st = input("Enter a string: ")
rev = st[::-1]

if st==rev:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a string: NAMAN
Palindrome

In [ ]:
# Count digits in a number

num = int(input("Enter a number: "))
count = 0

while num > 0:
    num //= 10
    count += 1

print("Number of digits:", count)

Enter a number: 10231
Number of digits: 5

In [ ]:
#  Exit the loop when i is 3

i = 1
while i <= 5:
    print(i)
    if i == 3:
        break
    i = i + 1

1
2
3

In [ ]:
# Search an element in a list

List_1 = [25070123001,25070123002,25070123003,25070123004,25070123005,25070123006,25070123008,25070123007,25070123009,25070123010]


PRN = int(input("Enter the PRN to search: "))
i=0
while i<len(List_1):
 if (List_1[i]==PRN):

      print("PRN found at position:",i+1)
      break
 i += 1
else:
        print("PRN not found")

Enter the PRN to search: 25070123008
PRN found at position: 7

In [ ]:
# Print numbers from 1 to 10 (skip 5)
i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

# For Loops

In [ ]:
# Print 1 to 6 using range function
for x in range(1,7):
 print(x,end=' ')

1 2 3 4 5 6

In [ ]:
# Print even nos from 1 to 10 using range function
for x in range(2,11,2):
 print(x,end=' ')

2 4 6 8 10

In [ ]:
# Nested for loop
for i in range(1,4):
 for j in range(1,4):
  print(i,j,end=' ')

1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3

In [ ]:
# 3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3):
   for j in range(3):
     print(A[i][j],end=" ")
   print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication of matrix
A = [[1,2,3],[4,5,6],[7,8,9]]
B = [[1,3,5],[2,4,6],[9,8,4]]


Result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]

print("Product of matrices")
for row in Result:
  print(row)

Product of matrices
[32, 35, 29]
[68, 80, 74]
[104, 125, 119]

In [ ]:
#  Python program to accept Three digits and print all Possible Combinations.

d1=1
d2=2
d3=3

d=[d1,d2,d3]

for i in range(0,3):
 for j in range(0,3):
  for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[i]!=d[k]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Armstrong Number ( 153 370 371 407 123 1634 )

num = int(input("Enter a number: "))
total = 0
for digit in str(num):
  total += int(digit) ** len(str(num))
if total == num:
  print("Armstrong")
else:
  print("Not Armstrong")

Enter a number: 123
Not Armstrong

In [ ]:
# Prime Number In Range

for num in range(2,50):
  is_prime = True
  for i in range(2, num):
      if num % i == 0:
          is_prime = False
          break
  if is_prime:
      print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
# To print inverted pyramid
n=5
for i in range(n):
  print(i*' ', (n-i)*' P')

  P P P P P
   P P P P
    P P P
     P P
      P

In [ ]:
# To print
for i in range(5,0,-1):
 print(i*' ', (n-i)*'P')

     P
    PP
   PPP
  PPPP

In [ ]:
# To print floyds triangle

rows = 4
number = 1

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(number, end=" ")
        number += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
# Number pattern : i repititions of digit i
n=5

for i in range(1, n + 1):
    for j in range(i):
       print(i, end="  ")
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5