# Exp No - 10
# Parth Dahiwade
# PRN - 25070123177
# ENTC - A3
# Title - Create and load the data set

In [ ]:
# Create a data set
import pandas as pd

data = {
    "Roll_No":[101,102,103,104,105],


   "Gender":["Female","Male","Female","Male","Female"],

    "Department":["Computer","IT","Electrical","Mechanical","Civil"],

    "CGPA":[8.2,7.5,9.1,9.5,8.5]
}

df = pd.DataFrame(data)

df.to_csv("student_data.csv",index=False)

print(df)

   Roll_No  Gender  Department  CGPA
0      101  Female    Computer   8.2
1      102    Male          IT   7.5
2      103  Female  Electrical   9.1
3      104    Male  Mechanical   9.5
4      105  Female       Civil   8.5

In [ ]:
# rows and columns

df.shape

(5, 4)

In [ ]:
#Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Roll_No     5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   CGPA        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [ ]:
# Size
df.size

20

In [ ]:
# Access information of column department
df["Department"]

0      Computer
1            IT
2    Electrical
3    Mechanical
4         Civil
Name: Department, dtype: object

In [ ]:
# Access information of prn 103
df[df["Roll_No"] == 103]

   Roll_No  Gender  Department  CGPA
2      103  Female  Electrical   9.1

In [ ]:
# Find out data from each column
df.columns

Index(['Roll_No', 'Gender', 'Department', 'CGPA'], dtype='object')

In [ ]:
# Perform mean , median and mode operation

print(df["CGPA"].mean())
print(df["CGPA"].median())
print(df["CGPA"].mode())

8.559999999999999
8.5
0    7.5
1    8.2
2    8.5
3    9.1
4    9.5
Name: CGPA, dtype: float64

In [ ]:
# Insert a new column grade

df["Grade"] = ["A","B","A+","A+","A"]
df

   Roll_No  Department  CGPA Grade
0      101    Computer   8.2     A
1      102          IT   7.5     B
2      103  Electrical   9.1    A+
3      104  Mechanical   9.5    A+
4      105       Civil   8.5     A

In [ ]:
# Delete Gender column

df = df.drop("Gender", axis=1)
df

   Roll_No  Department  CGPA
0      101    Computer   8.2
1      102          IT   7.5
2      103  Electrical   9.1
3      104  Mechanical   9.5
4      105       Civil   8.5

In [ ]:
# CGPA of topper
df["CGPA"].max()

9.5

In [ ]:
# CGPA of PRN 105

df["CGPA"][df["Roll_No"] == 105]

4    8.5
Name: CGPA, dtype: float64

In [ ]:
# Upload the data set
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Cars93 (1).csv")
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [ ]:
# Size
df.size

930

In [ ]:
# Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [ ]:
# Check no of rows and columns

df.shape

(93, 10)

In [ ]:
df.head

<bound method NDFrame.head of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>

In [ ]:
df.tail

<bound method NDFrame.tail of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>

In [ ]:
df.describe

<bound method NDFrame.describe of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>