# Experiment No.3
##Parth Dahiwade
##PRN 25070123177
##Branch ENTC
##Batch A3
##Title - Study of Lists and various operations on it

In [ ]:
## Python Lists
thislist = ["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# List length
thislist=["apple","banana","cherry"]
print(len(thislist))

3

In [ ]:
# A list with strings, integers and boolean values:
list1=["abc",34,True,40,"male",40.5,3+2j]
list1

['abc', 34, True, 40, 'male', 40.5, (3+2j)]

In [ ]:
# Acess Items
thislist=["apple","banana","cherry"]
print(thislist[2])

cherry

In [ ]:
#Reverse/Negative Indexing
thislist=["apple","banana","cherry"]
print(thislist[-2])

banana

In [ ]:
#Slicing
hislist=["apple","banana","cherry","orange","kiwi","melon"]
print(thislist[2:5])

['cherry']

In [ ]:
hislist=["apple","banana","cherry","orange","kiwi","melon"]
print(thislist[2:])

['cherry']

In [ ]:
hislist=["apple","banana","cherry","orange","kiwi","melon"]
print(thislist[:4])

['apple', 'banana', 'cherry']

In [ ]:
# Change Item Value
thislist=["apple","banana","cherry"]
thislist[1]="pineapple"
print(thislist)

['apple', 'pineapple', 'cherry']

In [ ]:
#Append Items
thislist=["apple","banana","cherry"]
thislist.append("kiwi")
print(thislist)

['apple', 'banana', 'cherry', 'kiwi']

In [ ]:
#Insert Items
thislist=["apple","banana","cherry"]
thislist.insert(2,"orange")
print(thislist)

['apple', 'banana', 'orange', 'cherry']

In [ ]:
#Extend List
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Searching Items
8 in [3,4,5]

False

In [ ]:
67 in [13,90,67]

True

In [ ]:
# Repitition
list = (' -Symbi- ')*5

list

' -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi- '

In [ ]:
numbers = [10,20,30,40,50]
# Slicing examples
print("Elements from 1:3")
print(numbers[1:3])
print("First three elements:")
print(numbers[:3])
print("Elements from index 2 onwards:(Reverse Indexing)")
print(numbers[-3:])
print("All elements:")
print(numbers[:])

Elements from 1:3
[20, 30]
First three elements:
[10, 20, 30]
Elements from index 2 onwards:(Reverse Indexing)
[30, 40, 50]
All elements:
[10, 20, 30, 40, 50]

In [ ]:
marks = [78,85,90,66,88]
print("Total marks")
print(sum(marks))
print("Number of students")
print(len(marks))
print("Average marks")
print(sum(marks)/len(marks))
print("Sort the marks in ascending order ")
marks.sort()
print(marks)

Total marks
407
Number of students
5
Average marks
81.4
Sort the marks in ascending order
[66, 78, 85, 88, 90]

In [ ]:
Grocerylist=["apple","banana","milk"]
print("Add new item to grocery list")
Grocerylist.append("eggs")
print(Grocerylist)
print("Remove purchsed item from grocery list")
Grocerylist.remove("banana")
print(Grocerylist)
print("Display the final shopping list")
print(Grocerylist)

Add new item to grocery list
['apple', 'banana', 'milk', 'eggs']
Remove purchsed item from grocery list
['apple', 'milk', 'eggs']
Display the final shopping list
['apple', 'milk', 'eggs']

In [ ]:
Contacts=["Mom","Dad","Brother"]
print("Add new contact to contact list")
Contacts.append("Sister")
print(Contacts)
print("Delete an existing contact")
print(Contacts.remove("Dad"))
print(Contacts)
print("Display contacts alphabetically")
print(sorted(Contacts))

Add new contact to contact list
['Mom', 'Dad', 'Brother', 'Sister']
Delete an existing contact
None
['Mom', 'Brother', 'Sister']
Display contacts alphabetically
['Brother', 'Mom', 'Sister']

In [5]:
# slicing practicle
list1=[20,30,50,60,40,10,70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-1])
print(list1[6:4:-2])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[70, 10]
[70]
[10]

In [10]:
'''4.Temprature Analysis'''
temperature=[26,25,29,27,28,21,22,18,19,23]
print("The tempratures of first 5 days")
print(temperature[:5])
print("The temprature of last 5 days")
print(temperature[-5:])
print("Highest temprature")
print(max(temperature))
print("Lowest temprature")
print(min(temperature))
print("Average temprature")
print(sum(temperature)/len(temperature))

The tempratures of first 5 days
[26, 25, 29, 27, 28]
The temprature of last 5 days
[21, 22, 18, 19, 23]
Highest temprature
29
Lowest temprature
18
Average temprature
23.8

In [11]:
'''5.Daily expense tracker'''
expense_tracker=[170,250,130,125,300,225,160]
print("Total expense")
print(sum(expense_tracker))
print("Average expense")
print(sum(expense_tracker)/len(expense_tracker))
print("Highest spending day")
print(max(expense_tracker))
print("Lowest spending day")
print(min(expense_tracker))

Total expense
1360
Average expense
194.28571428571428
Highest spending day
300
Lowest spending day
125