## Experiment No-5
## Study of sets and dictionary
##Parth Dahiwade
##PRN-25070123177
##ENTC-A3

In [ ]:
# Creation of Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
# Duplicate not allowed
thisset={"apple","banana","cherry","apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
# The values true and 1 are considered the same value in sets , and are treated as duplicates
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [ ]:
#A set with strings,integers and boolean values:
set1={"abc",34,True,40,"male",10.5}
set1

{10.5, 34, 40, True, 'abc', 'male'}

In [ ]:
# To check membership
thisser={"apple","banana","cherry"}

print("banana" in thisset)
print("grapes" in thisset)

True
False

In [ ]:
# Once a set is created , you cannot replace its items,
#but you can add items
thisset={"pencil","scale","eraser"}
thisset.add("sharpner")
print(thisset)

{'scale', 'sharpner', 'pencil', 'eraser'}

In [ ]:
# Remove item
thissset={"pencil","scale","eraser"}
thisset.remove("pencil")
print(thisset)

{'scale', 'sharpner', 'eraser'}

In [ ]:
# Set operatipons
A = {1,2,3,4}
B = {4,5,6,7}

print( "Union:",A|B)
print("Difference:",A-B)
print("Symmetric Difference:",A^B)
print("Intersection:",A&B)

Union: {1, 2, 3, 4, 5, 6, 7}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 5, 6, 7}
Intersection: {4}

#Python frozenset

In [ ]:
# frozenset
A = frozenset({"pencil","scale","eraser"})
print(A)
print(type(A))

frozenset({'scale', 'pencil', 'eraser'})
<class 'frozenset'>

In [ ]:
# Add in frozenset
A = frozenset({"pencil","scale","eraser"})
A.add("sharpner")
print(A)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Remove from frozen set
A = frozenset({"pencil","scale","eraser"})
A.remove("pencil")
print(A)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
''' A college event has a list of students who have registered multiple times by mistake.
Write a program using set to store participant Names and display only unique participants.'''

A = ["Anna","Suzie","Monica","Rachel","Chris","Suzie","Anna"]
actual_participants = set(A)
print("Actual participants:", actual_participants)

Actual participants: {'Monica', 'Rachel', 'Anna', 'Chris', 'Suzie'}

In [ ]:
''' Three students choose elective subjects .
Find the common subjects chosen by all students using set operations .
Concept used: Set Intersections (&)'''

Anna_subjects = {"Physics", "Chemistry","Enviromental studies", "Math", "Computer Science"}
Mike_subjects = {"Chemistry", "Biology", "Math", "English","Enviromental studies"}
Chris_subjects = {"Math", "Physics","Enviromental studies", "Computer Science", "History"}

common_subjects = Anna_subjects & Mike_subjects & Chris_subjects

print("Common subjects chosen by all students:", common_subjects)

Common subjects chosen by all students: {'Enviromental studies', 'Math'}

In [ ]:
''' One set contains students in Cricket Club , another in the Fotball Club.
Find students who are:1. In both clubs 2. In only one club
Concept used: Intersections, Symmetric difference'''

cricket_club = {"Alice", "Bob", "Charlie", "David", "Eve"}
football_club = {"Bob", "David", "Frank", "Grace", "Henry"}

students_in_both_clubs = cricket_club & football_club
print("Students in both clubs:", students_in_both_clubs)

students_in_only_one_club = cricket_club ^ football_club
print("Students in only one club:", students_in_only_one_club)

Students in both clubs: {'David', 'Bob'}
Students in only one club: {'Henry', 'Charlie', 'Eve', 'Grace', 'Frank', 'Alice'}

In [ ]:
''' Absent students
Given a set of all students and a set of present students , find the absent students.
Concept used: Set Difference'''

all_students = {"Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Henry","Chris"}
present_students = {"Alice", "Bob", "Charlie", "David", "Eve"}

absent_students = all_students - present_students
print("Absent students:", absent_students)

Absent students: {'Frank', 'Chris', 'Henry', 'Grace'}

In [ ]:
''' Remove invalid entries .
A set contains valid course codes .
Remove a discontinued course code from the set .
Concept used: remove()/discard()'''

course = {"C101", "C102", "C103", "C104", "C105"}
course.remove("C104")
print(course)

{'C103', 'C102', 'C101', 'C105'}

# Dictionaries

In [ ]:
# Dictionaries
thisdict = {
    "brand":"Mahindra",
    "model":"BE6",
    "year":2025
}
print(thisdict)

{'brand': 'Mahindra', 'model': 'BE6', 'year': 2025}

In [ ]:
# Dictionary takes latest values given for a key. It will not allow duplicates
thisdict = {
    "brand":"Mahindra",
    "model":"BE6",
    "year":2025,
    "year":2024
}
print(thisdict)

{'brand': 'Mahindra', 'model': 'BE6', 'year': 2024}

In [ ]:
# Members in dictionary
thisdict = {
    "brand":"Mahindra",
    "model":"BE6",
    "year":2025
}

print(len(thisdict))

3

In [ ]:
# Data type
thisdict = {
    "brand":"Mahindra",
    "model":"BE6",
    "year":2
}
print(type(thisdict))

<class 'dict'>

In [ ]:
# How to change values in the dictionary
Car = {
    "brand":"Mahindra",
    "model":"BE6",
    "year":2025
}
x = Car.values()
print(x)# Before the change

Car["year"] = 2024
print(x)# after the change

dict_values(['Mahindra', 'BE6', 2025])
dict_values(['Mahindra', 'BE6', 2024])

In [ ]:
# Add values in the dictionary
Car = {
    "brand":"Mahindra",
    "model":"BE6",
    "Year":2025
}
Car["color"]="Black"
print(Car)

{'brand': 'Mahindra', 'model': 'BE6', 'Year': 2025, 'color': 'Black'}

In [ ]:
student={
    "PRN":25070123177,
    "Name":"Parth",
    "Branch":"ENTC"
}
print("Name :",student["Name"])

Name : Parth

In [ ]:
# Adding and Updating Elements

student["Year"]="First"
student["Name"]="Parth Dahiwade"
student["Division"]= "A"
print(student)

{'PRN': 25070123177, 'Name': 'Parth Dahiwade', 'Branch': 'ENTC', 'Year': 'First', 'Division': 'A'}

In [ ]:
# Removing Elements

student.pop("Branch")
print("After removal:", student)

After removal: {'PRN': 25070123177, 'Name': 'Parth Dahiwade', 'Year': 'First', 'Division': 'A'}

In [11]:
''' A dictionary stores product names and their prices.
Write a python program to update the price of a product.'''

products_prices = {
    "Laptop": 12000,
    "Mouse": 205,
    "Keyboard": 750,
    "Monitor": 3000
}
print("Original product prices:", products_prices)

products_prices["Mouse"] = 250
print("Updated product prices:", products_prices)

Original product prices: {'Laptop': 12000, 'Mouse': 205, 'Keyboard': 750, 'Monitor': 3000}
Updated product prices: {'Laptop': 12000, 'Mouse': 250, 'Keyboard': 750, 'Monitor': 3000}

In [9]:
''' A dictionary stores students names and marks .
Write a python program to search for a student's marks using the names and marks.
If the student is not found , display a suitable message.'''

student_marks = {
    "Alice": 89,
    "Anik":100,
    "Krish":67,
    "Pushpak":69,
    "Bhavya":99
}

name = input("Enter the student's name: ")
print(
    student_marks.get(name, "Student not found"))

Enter the student's name: Parth
Marks are : Student not found

In [21]:
''' A dictionary stores user names and passwords . Write a python program to validate user login.'''

user_credentials = {
    "Alice":"alice@12345",
    "Anik":"anik@12345",
    "Krish":"krish@12345",
    "Pushpak":"pushpak@12345",
    "Bhavya":"bhavya@12345"
}

print("User Login")

username = input("Enter your username: ")

password = input("Enter your password: ")

if username in user_credentials and user_credentials[username] == password:
    print("Login successful!")
else:
    print("Invalid username or password.")

User Login
Enter your username: Pushpak
Enter your password: pushpak@12345
Login successful!

In [25]:
''' A dictionary stores student names and their marks.
Write a python program to find the student who has scored the highest marks'''

student_marks = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Mason": 67,
}

highest_marks_student = max(student_marks, key=student_marks.get)

print("Student with the highest marks:", highest_marks_student)

print("Marks:", student_marks[highest_marks_student])

Student with the highest marks: Bob
Marks: 92