## Experiment No. 4
###Study of Tuple
## Name- Parth Dahiwade
## PRN- 25070123177
## Batch- A3

In [1]:
##Python Tuples
# Create Tuple and Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [2]:
thistuple = ("apple", "banana", "cherry")
thistuple[1]="blackcurrant"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [3]:
##Append Items
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange")
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# Add tuple to a touple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [5]:
# Slicing
numbers =(3,7,1,9,4)
print(numbers[1::2])

(7, 9)

In [6]:
numbers = (10,20,30,40,50)
# Slicing examples
print("Elements from 1:3")
print(numbers[1:3])
print("First three elements:")
print(numbers[:3])
print("Elements from index 2 onwards:(Reverse Indexing)")
print(numbers[-3:])
print("All elements:")
print(numbers[:])

Elements from 1:3
(20, 30)
First three elements:
(10, 20, 30)
Elements from index 2 onwards:(Reverse Indexing)
(30, 40, 50)
All elements:
(10, 20, 30, 40, 50)

In [11]:
## Result analysis
''' A student's exam result is stored in a tuplecontaining three fixed fields :
Subject name ,marks obtained ,and grade.'''
result=("EDA",86,"A")
subject,marks,grade=result
sub,marks,grade=result
print("Subject marks and grade")
print("Subject name :",subject)
print("Marks :",marks)
print("Grade :",grade)
if result[1]>=80:
    print("Distinction")

Subject marks and grade
Subject name : EDA
Marks : 86
Grade : A
Distinction

In [14]:
# Attendence Monitoring
''' An organisation records an employes daily attendence for one week using a tuple '''
attendence=("P","P","A","P","P","A")
print("Total number of Present days :",attendence.count("P"))
print("Total number of Absent days :",attendence.count("A"))
if attendence.count("A")>0:
    print("Employee is absent atleast one day")

Total number of Present days : 4
Total number of Absent days : 2
Employee is absent atleast one day