## Basics of Python
## Name- Parth Dahiwade
## PRN- 25070123177
## Batch- A3

In [1]:
# First Python Program/ String
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [2]:
a = "Hello"
print(a)

Hello

In [3]:
# Comments
#This is a comment.
print("Hello, World!")

Hello, World!

In [4]:
# Many Statements
print("Hello World!")
print("Have a good day.")
print("Learning Python is fun!")

Hello World!
Have a good day.
Learning Python is fun!

In [5]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [6]:
print("Python is fun!") print("Really!")

SyntaxError: invalid syntax (ipython-input-2531607073.py, line 1)

In [7]:
print("This will work!")
print('This will also work!')

This will work!
This will also work!

In [8]:
print(This will cause an error)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2830183003.py, line 1)

In [9]:
print("Hello World", end="! ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [10]:
# Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [11]:
#Variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [12]:
# Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [13]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [14]:
# Basic Arithmetic Operations
a = 10
b = 5

print("Addition =", a + b)

Addition = 15

In [15]:
print("Subtraction =", a - b)

Subtraction = 5

In [16]:
print("Multiplication =", a * b)

Multiplication = 50

In [ ]:
print("Division =", a / b)

In [17]:
# Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C=3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [18]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Parth
Hello Parth

In [19]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

Enter your name: Parth
Enter your age: 18
Name: Parth
Age: 18

In [20]:
#Simple Calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

Enter first number: 2
Enter second number: 4
Sum = 6
Difference = -2
Product = 8
Quotient = 0.5

In [21]:
# Write a Python program to find the area of a circle.
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle =", area)

Enter radius: 6.7
Area of circle = 140.9546

In [22]:
# Python Booleans
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [23]:
# Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a