# Experiment No-6

> Add blockquote


## Title - Conditional statements in Python
##Parth Dahiwade
## PRN - 25070123177
## Branch - ENTC
## Batch - A3

In [ ]:
#1a. Check wether a number is positive , negative
#1b. Check wether a number is positive, negative or zero

num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0 :
     print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 123
The number is positive.

In [ ]:
# Check wether a number is even or odd

num = int(input("Enter a number: "))

if num %2==0:
     print("Number is even")

else:
     print("Number is odd")

Enter a number: 123
Number is odd

In [ ]:
# Check which number is higher out of 2 numbers

num = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))

if num > num2:
    print("The first number is higher.")

else:

  print("The second number is higher.")

Enter a number: 12
Enter another number: 23
The second number is higher.

In [ ]:
# Find the highest number of three

num = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
num3 = int(input("Enter another number: "))

if num > num2 and num > num3:
    print("First number is the highest number")

elif num2 > num and num2 > num3:
    print("Second number is the highest number")

else:
    print("Third number is the highest number")

Enter a number: 12
Enter another number: 23
Enter another number: 45
Third number is the highest number

In [ ]:
# Get input from user for 5 subjects and find average
# Calculate grade using if-elif-else

input1= int(input("Enter marks of subject 1: "))
input2= int(input("Enter marks of subject 2: "))
input3= int(input("Enter marks of subject 3: "))
input4= int(input("Enter marks of subject 4: "))
input5= int(input("Enter marks of subject 5: "))

average= (input1+input2+input3+input4+input5)/5

if average >= 85:

    print("Grade A")

elif average >= 75:

    print("Grade B")

elif average >= 65:

    print("Grade C")

elif average >= 55:

    print("Grade D")

elif average >= 35:

    print("Grade P")

else:

    print("Grade F")

Enter marks of subject 1: 78
Enter marks of subject 2: 98
Enter marks of subject 3: 67
Enter marks of subject 4: 86
Enter marks of subject 5: 90
Grade B

In [ ]:
''' Find out wether a given year is leap year or not .'''

year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2012
2012 is a leap year.

In [ ]:
 ''' Write a python program to check if a date is valid and print the incremented date if it is valid.'''

date_str = input("Enter date in format dd/mm/yyyy: ")
try:
    dd, mm, yyyy = map(int, date_str.split('/'))
except ValueError:
    print("Invalid date format. Please use dd/mm/yyyy.")
    exit()

if not (1 <= mm <= 12):
    print("Invalid month.")
    exit()

max_days = 0

if mm in (1, 3, 5, 7, 8, 10, 12):
    max_days = 31
elif mm in (4, 6, 9, 11):
    max_days = 30
elif mm == 2:
    if (yyyy % 4 == 0 and yyyy % 100 != 0) or (yyyy % 400 == 0):
        max_days = 29
    else:
        max_days = 28

if not (1 <= dd <= max_days):
    print(f"Invalid day for month {mm} in year {yyyy}.")
    exit()


print(f"The entered date {date_str} is valid.")

dd += 1

if dd > max_days:
    dd = 1
    mm += 1
    if mm > 12:

        mm = 1
        yyyy += 1

print(f"Incremented date: {dd:02d}/{mm:02d}/{yyyy}")

Enter date in format dd/mm/yyyy: 29/02/26
Invalid day for month 2 in year 26.
The entered date 29/02/26 is valid.
Incremented date: 01/03/26

In [ ]:
''' Write a python program to calculate Income tax based on annual income:

Up ti Rs.2,50,000: No tax
Rs.2,50,001-Rs.5,00,000 : 5%
Rs.5,00,001 - Rs.10,00,000: 20%

Above Rs.10,00,000 :30% '''

annual_income = float(input("Enter your annual income: "))
income_tax = 0

if annual_income <= 250000:
    income_tax = 0
elif annual_income <= 500000:
    income_tax = (annual_income - 250000) * 0.05
elif annual_income <= 1000000:
    income_tax = (250000 * 0.05) + (annual_income - 500000) * 0.20
else:
    income_tax = (250000 * 0.05) + (500000 * 0.20) + (annual_income - 1000000) * 0.30

print(f"Your annual income is: Rs. {annual_income:,.2f}")
print(f"Your calculated income tax is: Rs. {income_tax:,.2f}")

Enter your annual income: 200000000
Your annual income is: Rs. 200,000,000.00
Your calculated income tax is: Rs. 59,812,500.00

In [ ]:
''' Write a python program to calculate the gross salary of an employee based on basic salary.
If basic <= 10000: HRA = 20%, DA = 80%

If basic <= 20000: HRA = 25 %, DA = 90%

Otherwise : HRA = 30%, DA = 95%'''

basic= float(input("Enter basic salary:"))

if basic <= 10000:
    hra = 0.20 * basic
    da = 0.80 * basic
elif basic <= 20000:
    hra = 0.25 * basic
    da = 0.90 * basic
else:
    hra = 0.30 * basic
    da = 0.95 * basic

gross_salary = basic + hra + da

print(f"Basic Salary: {basic:.2f}")
print(f"HRA: {hra:.2f}")
print(f"DA: {da:.2f}")
print(f"Gross Salary: {gross_salary:.2f}")

Enter basic salary:7002000
Basic Salary: 7002000.00
HRA: 2100600.00
DA: 6651900.00
Gross Salary: 15754500.00